#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine("mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats")

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)
users.head(5)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [5]:
users.rename(columns={'Id': 'userId'}, inplace=True)

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)
posts.head(5)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_sub_df = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']].astype('float64')
users_sub_df.head(5)

   userId  Reputation   Views  UpVotes  DownVotes
0    -1.0         1.0     0.0   5007.0     1920.0
1     2.0       101.0    25.0      3.0        0.0
2     3.0       101.0    22.0     19.0        0.0
3     4.0       101.0    11.0      0.0        0.0
4     5.0      6792.0  1145.0    662.0        5.0

In [9]:
users_sub_df.shape

(40325, 5)

In [11]:
posts_sub_df = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']].astype('float64')
posts_sub_df.head(5)

   postId  Score  userId  ViewCount  CommentCount
0     1.0   23.0     8.0     1278.0           1.0
1     2.0   22.0    24.0     8198.0           1.0
2     3.0   54.0    18.0     3613.0           4.0
3     4.0   13.0    23.0     5224.0           2.0
4     5.0   81.0    23.0        NaN           3.0

In [12]:
posts_sub_df.shape

(91976, 5)

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [13]:
merged_df = posts_sub_df.merge(users_sub_df, how='outer', left_on='userId', right_on='userId')
merged_df.head(5)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1.0,23.0,8.0,1278.0,1.0,6764.0,1089.0,604.0,25.0
1,16.0,16.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
2,36.0,41.0,8.0,67396.0,7.0,6764.0,1089.0,604.0,25.0
3,65.0,14.0,8.0,NaN,3.0,6764.0,1089.0,604.0,25.0
4,78.0,33.0,8.0,NaN,4.0,6764.0,1089.0,604.0,25.0

In [14]:
merged_df.shape

(110318, 9)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [15]:
merged_df.isna().sum()

postId          18342
Score           18342
userId           1392
ViewCount       67397
CommentCount    18342
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [16]:
merged_df.dropna(inplace=True)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [17]:
merged_df = merged_df.astype('int64')
merged_df.head(5)

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8,1278,1,6764,1089,604,25
2,36,41,8,67396,7,6764,1089,604,25
6,114,30,8,1220,1,6764,1089,604,25
9,168,17,8,1022,1,6764,1089,604,25
10,170,56,8,7733,1,6764,1089,604,25

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [22]:
outliers = pd.DataFrame(columns=merged_df.columns)

stats = merged_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
print(stats)


for col in stats.index:
    iqr = stats.at[col, 'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = merged_df[(merged_df[col] < lower) | (merged_df[col] > upper)]
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers

                count          mean           std   min       25%      50%  \
postId        42188.0  61728.951835  32900.515385   1.0  32580.75  64008.0
Score         42188.0      2.482768      4.741800 -19.0      0.00      1.0
userId        42188.0  21813.963497  15732.780681   5.0   8065.75  19662.0
ViewCount     42188.0    556.656158   2356.930779   1.0     53.00    126.0
CommentCount  42188.0      2.111667      2.720020   0.0      0.00      1.0
Reputation    42188.0    528.212691   2453.144293   1.0     14.00     93.0
Views         42188.0     88.734972    454.847157   0.0      2.00      8.0
UpVotes       42188.0     60.050939    364.016620   0.0      0.00      2.0
DownVotes     42188.0      1.808168     14.913523   0.0      0.00      0.0

                   75%       max      IQR
postId        90194.25  115376.0  57613.5
Score             3.00     192.0      3.0
userId        34922.25   55746.0  26856.5
ViewCount       367.00  175495.0    314.0
CommentCount      3.00      37.0      3.0
Reputation      253.00   87393.0    239.0
Views            34.00   20932.0     32.0
UpVotes          17.00   11442.0     17.0
DownVotes         0.00     779.0      0.0

<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col
<ipython-input-22-fb102e74cfae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Outlier'] = col

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes,Outlier
0,1,23,8,1278,1,6764,1089,604,25,Score
2,36,41,8,67396,7,6764,1089,604,25,Score
6,114,30,8,1220,1,6764,1089,604,25,Score
9,168,17,8,1022,1,6764,1089,604,25,Score
10,170,56,8,7733,1,6764,1089,604,25,Score
...,...,...,...,...,...,...,...,...,...,...
90826,112219,1,54099,65,8,719,69,31,4,DownVotes
90834,112640,1,54099,145,12,719,69,31,4,DownVotes
91019,112394,1,54300,54,6,60,64,14,6,DownVotes
91025,112807,0,54300,65,0,60,64,14,6,DownVotes
91028,113194,5,54300,112,0,60,64,14,6,DownVotes

In [ ]:
outliers.to_csv(r'/Users/diegoperezo97/Documents/Ironhack – Data Analytics\ Bootcamp/Module\ 1/Week\ 3/Day\ 4/lab-data-cleaning/your-code/outliers.csv')