#### 1. Import pandas library

In [3]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [4]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [14]:
engine = sqlalchemy.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/')

#### 4. Import the users table

In [18]:
users = pd.read_sql_query('SELECT * FROM stats.users;', engine)

In [19]:
users.head(3)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 5. Rename Id column to userId

In [27]:
users = users.rename({"Id":"userId"}, axis=1)
users.head(3)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 6. Import the posts table.

In [26]:
posts = pd.read_sql_query('Select * from stats.posts;', engine)
posts.head(3)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [28]:
posts = posts.rename({"Id":"postId","OwnerUserId":"userId"}, axis=1)
posts.head(3)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [31]:
new_users = users[["userId","Reputation","Views","UpVotes","DownVotes"]]
new_posts = posts[["postId", "Score","userId","ViewCount","CommentCount"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [60]:
merged_new_users_posts = pd.merge(new_users,new_posts)
merged.tail(14)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [50]:
value = merged_new_users_posts.isnull().sum()
value  #ViewCount       48396

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [63]:
merged_new_users_posts['ViewCount'] = merged_new_users_posts['ViewCount'].fillna(0)

In [ ]:
#Fill the NAN values into cero, because they can have numerical values

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [65]:
# View count into integer
merged_new_users_posts['ViewCount'] = merged_new_users_posts['ViewCount'].astype(int)
merged_new_users_posts['ViewCount']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
90554    22
90555    25
90556    28
90557    13
90558    20
90559    31
90560    35
90561    28
90562     4
90563    22
90564    23
90565    29
90566     6
90567    18
90568    36
90569    20
90570     9
90571    25
90572    10
90573    12
90574    19
90575     0
90576    18
90577     3
90578    15
90579    16
90580    40
90581    17
90582    13
90583     5
Name: ViewCount, Length: 90584, dtype: int64

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [76]:
merged_df=merged_new_users_posts

# Information of all the values
statistics = merged_df.describe()

# Access easily to the columns 25% and 75%
statistics = merged_df.describe().transpose()

#Create a new column:
statistics['IQR'] = statistics['75%']-statistics['25%']
statistics['Low_Boundary'] = statistics['25%'] - 1.5*statistics['IQR']
statistics['High_Boundary'] = statistics['75%'] + 1.5*statistics['IQR']

statistics

,count,mean,std,min,25%,50%,75%,max,IQR,Low_Boundary,High_Boundary
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00,-32957.500,64094.500
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00,-6540.000,11060.000
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25,-758.875,1278.125
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00,-422.000,706.000
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00,-12.000,20.000
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50,-64088.500,176285.500
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00,-2.000,6.000
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00,-166.500,277.500
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00,-4.500,7.500

In [79]:
outliers = pd.DataFrame(columns=merged_df.columns)

for col in statistics.index:
    iqr = statistics.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = statistics.at[col,'25%'] - cutoff
    upper = statistics.at[col,'75%'] + cutoff
    results = merged_df[(merged_df[col] < lower) | 
                   (merged_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers

/home/dhdzmota/.local/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
1155,0,126,Reputation,14082,25,4235,0,3320,74,88
1156,0,126,Reputation,14082,5,4235,0,3320,94,88
1157,1,126,Reputation,14082,7,4235,0,3320,99,88
1158,3,126,Reputation,14082,6,4235,0,3320,119,88
1159,0,126,Reputation,14082,7,4235,0,3320,140,88
1160,2,126,Reputation,14082,5,4235,0,3320,143,88
1161,1,126,Reputation,14082,8,4235,0,3320,255,88
1162,0,126,Reputation,14082,14,4235,0,3320,265,88
1163,0,126,Reputation,14082,5,4235,0,3320,275,88
1164,1,126,Reputation,14082,2,4235,0,3320,309,88
1165,4,126,Reputation,14082,1,4235,0,3320,337,88
1166,0,126,Reputation,14082,2,4235,435,3320,341,88
1167,0,126,Reputation,14082,3,4235,0,3320,343,88
1168,2,126,Reputation,14082,3,4235,0,3320,344,88
1169,4,126,Reputation,14082,6,4235,0,3320,358,88
1170,2,126,Reputation,14082,4,4235,0,3320,360,88
1171,0,126,Reputation,14082,3,4235,0,3320,380,88
1172,3,126,Reputation,14082,109,4235,0,3320,424,88
1173,1,126,Reputation,14082,84,4235,0,3320,435,88
1174,3,126,Reputation,14082,6,4235,0,3320,450,88
1175,0,126,Reputation,14082,8,4235,0,3320,462,88
1176,4,126,Reputation,14082,3,4235,0,3320,464,88
1177,2,126,Reputation,14082,14,4235,0,3320,483,88
1178,2,126,Reputation,14082,6,4235,0,3320,494,88
1179,7,126,Reputation,14082,3,4235,0,3320,501,88
1180,0,126,Reputation,14082,5,4235,0,3320,505,88
1181,1,126,Reputation,14082,3,4235,0,3320,518,88
1182,0,126,Reputation,14082,7,4235,466,3320,526,88
1183,0,126,Reputation,14082,8,4235,0,3320,547,88
1184,0,126,Reputation,14082,5,4235,0,3320,559,88
...,...,...,...,...,...,...,...,...,...,...
89728,9,0,CommentCount,1,0,0,34,0,112169,54210
89740,12,0,CommentCount,16,0,1,29,0,112263,54229
89774,12,0,CommentCount,118,2,0,48,2,112351,54279
89789,9,6,CommentCount,60,-2,14,0,64,112504,54300
89794,8,6,CommentCount,60,1,14,0,64,112816,54300
89800,14,6,CommentCount,60,3,14,0,64,113498,54300
89911,11,0,CommentCount,6,1,0,52,0,112567,54474
89965,14,0,CommentCount,111,2,0,51,2,113011,54581
89985,10,0,CommentCount,1,0,0,30,0,114212,54619
90051,8,0,CommentCount,576,2,49,0,37,113508,54724
90062,11,0,CommentCount,1,0,0,33,2,113299,54733
90064,17,0,CommentCount,96,7,5,280,14,113314,54736
90067,8,0,CommentCount,96,2,5,33,14,114356,54736
90071,9,0,CommentCount,16,3,0,122,1,113334,54741
90098,8,0,CommentCount,20,0,1,5,2,113540,54791
90120,8,0,CommentCount,163,12,4,732,6,113526,54840
90130,17,0,CommentCount,14,2,3,113,9,113598,54862
90153,8,0,CommentCount,108,1,2,41,0,113650,54896
90162,11,0,CommentCount,1,0,0,36,1,113691,54911
90185,9,0,CommentCount,16,3,0,45,0,113790,54953
90227,11,0,CommentCount,1,0,0,18,1,113934,55020
90244,12,0,CommentCount,14,2,0,376,1,114004,55053
90251,8,0,CommentCount,1,0,0,29,0,114045,55086
90259,10,0,CommentCount,111,2,0,46,4,114081,55107
90268,11,0,CommentCount,6,1,0,45,0,114119,55125
90274,10,0,CommentCount,13,2,0,42,0,114129,55135
90326,8,0,CommentCount,6,1,0,32,3,114339,55241
90346,8,0,CommentCount,13,2,0,25,0,114859,55302
90408,9,0,CommentCount,11,2,0,63,1,114719,55420
90491,9,0,CommentCount,6,1,0,77,3,115020,55557

In [83]:
outliers.to_csv('outliers.csv')