#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [4]:
users_df =pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [5]:
users_df = users_df.rename(columns={'Id':'UserId'})

#### 6. Import the posts table.

In [6]:
posts_df =pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_df = posts_df.rename(columns={'Id':'PostId','OwnerUserId':'UserId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_df1 = users_df[['UserId','Reputation','Views','UpVotes','DownVotes']]
posts_df1 = posts_df[['PostId','Score','UserId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
new_df = pd.merge(users_df1,posts_df1, on = 'UserId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
null_cols = new_df.isnull().sum()
null_cols[null_cols > 0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

I will clean it, because the amount of missing values is high and in the same column

In [11]:
drop_cols = list(null_cols[null_cols > 10000].index)
new_df1 = new_df.drop(drop_cols, axis=1)
new_df1

,UserId,Reputation,Views,UpVotes,DownVotes,PostId,Score,CommentCount
0,-1,1,0,5007,1920,2175,0,0
1,-1,1,0,5007,1920,8576,0,0
2,-1,1,0,5007,1920,8578,0,0
3,-1,1,0,5007,1920,8981,0,0
4,-1,1,0,5007,1920,8982,0,0
5,-1,1,0,5007,1920,9857,0,0
6,-1,1,0,5007,1920,9858,0,0
7,-1,1,0,5007,1920,9860,0,0
8,-1,1,0,5007,1920,10130,0,0
9,-1,1,0,5007,1920,10131,0,0
10,-1,1,0,5007,1920,15331,0,0
11,-1,1,0,5007,1920,15332,0,0
12,-1,1,0,5007,1920,16296,0,0
13,-1,1,0,5007,1920,16366,0,0
14,-1,1,0,5007,1920,19423,0,0
15,-1,1,0,5007,1920,19848,0,0
16,-1,1,0,5007,1920,20259,0,0
17,-1,1,0,5007,1920,20261,0,0
18,-1,1,0,5007,1920,20262,0,0
19,-1,1,0,5007,1920,20263,0,0
20,-1,1,0,5007,1920,20264,0,0
21,-1,1,0,5007,1920,20485,0,0
22,-1,1,0,5007,1920,20487,0,0
23,-1,1,0,5007,1920,20489,0,0
24,-1,1,0,5007,1920,20490,0,0
25,-1,1,0,5007,1920,21497,0,0
26,-1,1,0,5007,1920,21795,0,0
27,-1,1,0,5007,1920,21856,0,0
28,-1,1,0,5007,1920,21860,0,0
29,-1,1,0,5007,1920,21861,0,0
...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,1
90555,55676,1,1,0,0,115231,0,1
90556,55677,1,1,0,0,115232,0,2
90557,55679,1,0,0,0,115236,0,0
90558,55682,13,0,0,0,115246,2,0
90559,55684,6,0,0,0,115253,1,6
90560,55687,6,0,0,0,115264,1,0
90561,55689,6,0,0,0,115270,1,7
90562,55695,1,0,0,0,115278,0,0
90563,55697,1,0,0,0,115285,0,4
90564,55699,6,0,0,0,115287,1,6
90565,55702,26,1,0,0,115291,5,1
90566,55709,1,0,0,0,115312,0,0
90567,55710,1,0,0,0,115313,0,4
90568,55713,6,0,0,0,115315,1,2
90569,55714,6,0,0,0,115316,1,3
90570,55715,6,0,0,0,115321,1,0
90571,55718,6,0,0,0,115327,1,0
90572,55719,1,1,0,0,115328,0,0
90573,55720,1,0,0,0,115331,0,1
90574,55724,16,1,0,0,115335,3,1
90575,55729,16,1,0,0,115338,0,0
90576,55730,1,0,0,0,115340,0,1
90577,55731,1,0,0,0,115350,0,0
90578,55733,6,1,0,0,115356,1,0
90579,55734,1,0,0,0,115352,0,0
90580,55738,11,0,0,0,115360,2,4
90581,55742,6,0,0,0,115366,1,0
90582,55744,6,1,0,0,115370,1,2
90583,55746,106,1,0,0,115376,1,2

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
users_df.dtypes

UserId                      int64
Reputation                  int64
CreationDate       datetime64[ns]
DisplayName                object
LastAccessDate     datetime64[ns]
WebsiteUrl                 object
Location                   object
AboutMe                    object
Views                       int64
UpVotes                     int64
DownVotes                   int64
AccountId                   int64
Age                       float64
ProfileImageUrl            object
dtype: object

In [13]:
posts_df.dtypes

PostId                            int64
PostTypeId                        int64
AcceptedAnswerId                float64
CreaionDate              datetime64[ns]
Score                             int64
ViewCount                       float64
Body                             object
UserId                          float64
LasActivityDate          datetime64[ns]
Title                            object
Tags                             object
AnswerCount                     float64
CommentCount                      int64
FavoriteCount                   float64
LastEditorUserId                float64
LastEditDate             datetime64[ns]
CommunityOwnedDate       datetime64[ns]
ParentId                        float64
ClosedDate               datetime64[ns]
OwnerDisplayName                 object
LastEditorDisplayName            object
dtype: object

##### I would change the following types in order to prevent future issues:

in the table users:

- Age from float64 to int64.

In the table posts:

- AcceptedAnswerId from float64 to int64.
- ViewCount from float64 to int64.
- UserId from float64 to int64.
- AnswerCount from float64 to int64.
- FavoriteCount from float64 to int64.
- LastEditorUserId from float64 to int64.
- ParentId from float64 to int64.

In [14]:
convert_u_dict = {'Age': int}
convert_p_dict = {'AcceptedAnswerId':int,
'ViewCount':int,
'UserId':int,
'AnswerCount':int,
'FavoriteCount':int,
'LastEditorUserId':int,
'ParentId':int}

In [15]:
# users_df.astype(convert_u_dict)
# users_df.dtypes

In [16]:
# posts_df.astype(convert_p_dict)
# posts_df.dtypes

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [17]:
low_variance = []

for col in new_df1._get_numeric_data():
    minimum = min(new_df1[col])
    ninety_perc = np.percentile(new_df1[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

[]

In [18]:
stats = new_df1.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
UserId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
PostId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [19]:
outliers = pd.DataFrame(columns=new_df1.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = new_df1[(new_df1[col] < lower) | 
                   (new_df1[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

outliers

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,CommentCount,DownVotes,Outlier,PostId,Reputation,Score,UpVotes,UserId,Views
1155,0,126,Reputation,74,14082,25,4235,88,3320
1156,0,126,Reputation,94,14082,5,4235,88,3320
1157,1,126,Reputation,99,14082,7,4235,88,3320
1158,3,126,Reputation,119,14082,6,4235,88,3320
1159,0,126,Reputation,140,14082,7,4235,88,3320
1160,2,126,Reputation,143,14082,5,4235,88,3320
1161,1,126,Reputation,255,14082,8,4235,88,3320
1162,0,126,Reputation,265,14082,14,4235,88,3320
1163,0,126,Reputation,275,14082,5,4235,88,3320
1164,1,126,Reputation,309,14082,2,4235,88,3320
1165,4,126,Reputation,337,14082,1,4235,88,3320
1166,0,126,Reputation,341,14082,2,4235,88,3320
1167,0,126,Reputation,343,14082,3,4235,88,3320
1168,2,126,Reputation,344,14082,3,4235,88,3320
1169,4,126,Reputation,358,14082,6,4235,88,3320
1170,2,126,Reputation,360,14082,4,4235,88,3320
1171,0,126,Reputation,380,14082,3,4235,88,3320
1172,3,126,Reputation,424,14082,109,4235,88,3320
1173,1,126,Reputation,435,14082,84,4235,88,3320
1174,3,126,Reputation,450,14082,6,4235,88,3320
1175,0,126,Reputation,462,14082,8,4235,88,3320
1176,4,126,Reputation,464,14082,3,4235,88,3320
1177,2,126,Reputation,483,14082,14,4235,88,3320
1178,2,126,Reputation,494,14082,6,4235,88,3320
1179,7,126,Reputation,501,14082,3,4235,88,3320
1180,0,126,Reputation,505,14082,5,4235,88,3320
1181,1,126,Reputation,518,14082,3,4235,88,3320
1182,0,126,Reputation,526,14082,7,4235,88,3320
1183,0,126,Reputation,547,14082,8,4235,88,3320
1184,0,126,Reputation,559,14082,5,4235,88,3320
...,...,...,...,...,...,...,...,...,...
89728,9,0,CommentCount,112169,1,0,0,54210,0
89740,12,0,CommentCount,112263,16,0,1,54229,0
89774,12,0,CommentCount,112351,118,2,0,54279,2
89789,9,6,CommentCount,112504,60,-2,14,54300,64
89794,8,6,CommentCount,112816,60,1,14,54300,64
89800,14,6,CommentCount,113498,60,3,14,54300,64
89911,11,0,CommentCount,112567,6,1,0,54474,0
89965,14,0,CommentCount,113011,111,2,0,54581,2
89985,10,0,CommentCount,114212,1,0,0,54619,0
90051,8,0,CommentCount,113508,576,2,49,54724,37
90062,11,0,CommentCount,113299,1,0,0,54733,2
90064,17,0,CommentCount,113314,96,7,5,54736,14
90067,8,0,CommentCount,114356,96,2,5,54736,14
90071,9,0,CommentCount,113334,16,3,0,54741,1
90098,8,0,CommentCount,113540,20,0,1,54791,2
90120,8,0,CommentCount,113526,163,12,4,54840,6
90130,17,0,CommentCount,113598,14,2,3,54862,9
90153,8,0,CommentCount,113650,108,1,2,54896,0
90162,11,0,CommentCount,113691,1,0,0,54911,1
90185,9,0,CommentCount,113790,16,3,0,54953,0
90227,11,0,CommentCount,113934,1,0,0,55020,1
90244,12,0,CommentCount,114004,14,2,0,55053,1
90251,8,0,CommentCount,114045,1,0,0,55086,0
90259,10,0,CommentCount,114081,111,2,0,55107,4
90268,11,0,CommentCount,114119,6,1,0,55125,0
90274,10,0,CommentCount,114129,13,2,0,55135,0
90326,8,0,CommentCount,114339,6,1,0,55241,3
90346,8,0,CommentCount,114859,13,2,0,55302,0
90408,9,0,CommentCount,114719,11,2,0,55420,1
90491,9,0,CommentCount,115020,6,1,0,55557,3

In [23]:
outliers.to_csv('outliers.csv')