#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
data_users = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [5]:
data_users = data_users.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [6]:
data_posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
data_posts = data_posts.rename(columns={'Id':'postId',
                                       'OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
data_users = data_users[['userId','Reputation','Views','UpVotes','DownVotes']]
data_posts = data_posts[['postId','Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
data = pd.merge(data_users, data_posts, on='userId')
data.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
#Counting missing values - 'ViewCount' column has missing values.
data.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
#I will fill the empty values with 0, as those videos have '0' views.

data['ViewCount'] = data['ViewCount'].fillna(0)
data

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
5,-1,1,0,5007,1920,9857,0,0.0,0
6,-1,1,0,5007,1920,9858,0,0.0,0
7,-1,1,0,5007,1920,9860,0,0.0,0
8,-1,1,0,5007,1920,10130,0,0.0,0
9,-1,1,0,5007,1920,10131,0,0.0,0
10,-1,1,0,5007,1920,15331,0,0.0,0
11,-1,1,0,5007,1920,15332,0,0.0,0
12,-1,1,0,5007,1920,16296,0,0.0,0
13,-1,1,0,5007,1920,16366,0,0.0,0
14,-1,1,0,5007,1920,19423,0,0.0,0
15,-1,1,0,5007,1920,19848,0,0.0,0
16,-1,1,0,5007,1920,20259,0,0.0,0
17,-1,1,0,5007,1920,20261,0,0.0,0
18,-1,1,0,5007,1920,20262,0,0.0,0
19,-1,1,0,5007,1920,20263,0,0.0,0
20,-1,1,0,5007,1920,20264,0,0.0,0
21,-1,1,0,5007,1920,20485,0,0.0,0
22,-1,1,0,5007,1920,20487,0,0.0,0
23,-1,1,0,5007,1920,20489,0,0.0,0
24,-1,1,0,5007,1920,20490,0,0.0,0
25,-1,1,0,5007,1920,21497,0,0.0,0
26,-1,1,0,5007,1920,21795,0,0.0,0
27,-1,1,0,5007,1920,21856,0,0.0,0
28,-1,1,0,5007,1920,21860,0,0.0,0
29,-1,1,0,5007,1920,21861,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,0.0,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
#Changing the data type from 'float64' to 'int64' will solve the issue, as there are not partial views.
data['ViewCount'] = data['ViewCount'].astype('int64')
data.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [13]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [15]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
1733,4,59,Reputation,18283,10,1014,0,3781,167,159
1734,0,59,Reputation,18283,2,1014,0,3781,169,159
1735,0,59,Reputation,18283,8,1014,0,3781,171,159
1736,0,59,Reputation,18283,35,1014,0,3781,174,159
1737,2,59,Reputation,18283,22,1014,0,3781,177,159
1738,0,59,Reputation,18283,12,1014,0,3781,179,159
1739,0,59,Reputation,18283,50,1014,39097,3781,181,159
1740,0,59,Reputation,18283,6,1014,0,3781,184,159
1741,3,59,Reputation,18283,51,1014,9772,3781,213,159
1742,2,59,Reputation,18283,15,1014,0,3781,221,159
1743,2,59,Reputation,18283,10,1014,0,3781,229,159
1744,4,59,Reputation,18283,12,1014,0,3781,261,159
1745,2,59,Reputation,18283,27,1014,0,3781,370,159
1746,0,59,Reputation,18283,8,1014,0,3781,530,159
1747,0,59,Reputation,18283,4,1014,0,3781,531,159
1748,5,59,Reputation,18283,12,1014,0,3781,532,159
1749,6,59,Reputation,18283,44,1014,11149,3781,534,159
1750,3,59,Reputation,18283,14,1014,0,3781,541,159
1751,6,59,Reputation,18283,31,1014,0,3781,587,159
1752,0,59,Reputation,18283,9,1014,0,3781,610,159
1753,0,59,Reputation,18283,15,1014,3833,3781,622,159
1754,2,59,Reputation,18283,4,1014,0,3781,625,159
1755,6,59,Reputation,18283,74,1014,0,3781,729,159
1756,5,59,Reputation,18283,146,1014,0,3781,730,159
1757,4,59,Reputation,18283,16,1014,0,3781,862,159
1758,0,59,Reputation,18283,6,1014,0,3781,872,159
1759,0,59,Reputation,18283,3,1014,0,3781,883,159
1760,6,59,Reputation,18283,24,1014,0,3781,1026,159
1761,2,59,Reputation,18283,20,1014,0,3781,1055,159
1762,2,59,Reputation,18283,6,1014,0,3781,1086,159
...,...,...,...,...,...,...,...,...,...,...
84900,13,0,CommentCount,2062,3,13,0,99,97402,44965
84918,20,0,CommentCount,2062,2,13,0,99,99166,44965
85061,13,0,CommentCount,51,5,0,90,4,96737,45114
85265,15,0,CommentCount,119,1,2,0,19,99771,45382
85530,17,0,CommentCount,52,1,25,76,11,108060,45745
85736,14,0,CommentCount,183,2,0,52,4,102895,45971
85756,15,0,CommentCount,9,0,0,1962,9,99690,45998
86809,13,0,CommentCount,1,0,0,60,1,103220,48303
86884,13,0,CommentCount,36,4,3,307,24,104194,48426
86951,20,0,CommentCount,144,11,0,199,19,108430,48490
86969,13,0,CommentCount,1,0,0,34,1,103714,48515
87072,13,9,CommentCount,411,2,21,0,50,104364,48639
87204,14,0,CommentCount,1148,5,44,0,59,104946,48766
87393,24,0,CommentCount,101,0,0,45,2,104761,49000
87790,14,0,CommentCount,74,2,3,56,7,108909,49458
87812,14,0,CommentCount,23,3,0,58,1,105787,49504
87901,16,0,CommentCount,85,1,2,128,4,106131,49677
87924,19,0,CommentCount,23,4,0,48,2,106191,49716
87973,17,0,CommentCount,49,-1,0,37,11,107795,49811
88582,19,3,CommentCount,2294,16,59,281,192,109710,52554
88780,13,0,CommentCount,126,1,0,0,17,110509,52756
88788,13,0,CommentCount,22,1,1,59,0,114146,52760
89084,17,0,CommentCount,18,3,1,64,2,110198,53201
89321,13,0,CommentCount,1,0,0,31,0,111004,53611
89492,13,0,CommentCount,11,0,0,31,3,111611,53937
89621,13,4,CommentCount,719,1,31,0,69,113461,54099
89800,14,6,CommentCount,60,3,14,0,64,113498,54300
89965,14,0,CommentCount,111,2,0,51,2,113011,54581
90064,17,0,CommentCount,96,7,5,280,14,113314,54736
90130,17,0,CommentCount,14,2,3,113,9,113598,54862

In [18]:
data.to_csv('./outliers.csv', index=False)