#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import sys
!{sys.executable} -m pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/site-packages (0.9.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/site-packages (1.3.5)

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [6]:
data = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [9]:
data=data.rename(columns = {'Id':'userId'})

In [22]:
data.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [18]:
posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [20]:
posts=posts.rename(columns = {'Id':'postId', 'OwnerUserId': 'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [23]:
users = data[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [24]:
merged = users.merge(posts, on='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [28]:
merged.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [29]:
merged['ViewCount'].head(10)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: ViewCount, dtype: float64

In [30]:
merged['ViewCount'].tail(10)

90574    19.0
90575     NaN
90576    18.0
90577     3.0
90578    15.0
90579    16.0
90580    40.0
90581    17.0
90582    13.0
90583     5.0
Name: ViewCount, dtype: float64

In [32]:
merged['ViewCount']=='0.0'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
90554    False
90555    False
90556    False
90557    False
90558    False
90559    False
90560    False
90561    False
90562    False
90563    False
90564    False
90565    False
90566    False
90567    False
90568    False
90569    False
90570    False
90571    False
90572    False
90573    False
90574    False
90575    False
90576    False
90577    False
90578    False
90579    False
90580    False
90581    False
90582    False
90583    False
Name: ViewCount, Length: 90584, dtype: bool

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [33]:
#We can assume NaN values correspond to posts with 0 views so we'll fill them with 0's

merged['ViewCount'] = merged['ViewCount'].fillna(0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [41]:
#ViewCount is float but all numbers are .0 so we'll turn it to int
merged['ViewCount'] = merged['ViewCount'].astype(int)

In [44]:
merged.tail(20)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
90564,55699,6,0,0,0,115287,1,23,6
90565,55702,26,1,0,0,115291,5,29,1
90566,55709,1,0,0,0,115312,0,6,0
90567,55710,1,0,0,0,115313,0,18,4
90568,55713,6,0,0,0,115315,1,36,2
90569,55714,6,0,0,0,115316,1,20,3
90570,55715,6,0,0,0,115321,1,9,0
90571,55718,6,0,0,0,115327,1,25,0
90572,55719,1,1,0,0,115328,0,10,0
90573,55720,1,0,0,0,115331,0,12,1
90574,55724,16,1,0,0,115335,3,19,1
90575,55729,16,1,0,0,115338,0,0,0
90576,55730,1,0,0,0,115340,0,18,1
90577,55731,1,0,0,0,115350,0,3,0
90578,55733,6,1,0,0,115356,1,15,0
90579,55734,1,0,0,0,115352,0,16,0
90580,55738,11,0,0,0,115360,2,40,4
90581,55742,6,0,0,0,115366,1,17,0
90582,55744,6,1,0,0,115370,1,13,2
90583,55746,106,1,0,0,115376,1,5,2

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [45]:
stats = merged.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [48]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR'] #access a point by "x,y coords"
    cutoff = iqr * 1.5 #multiplica el punto * 1.5 para obtener el rango intercuartil
    lower = stats.at[col,'25%'] - cutoff #donde se corta por abajo los outilers
    upper = stats.at[col,'75%'] + cutoff #donde se cortan por arriba los outilers
    results = merged[(merged[col] < lower) | 
                   (merged[col] > upper)].copy() #copia los resultadosde 'stats' entre los parámetros arriba indicados
    results['Outlier'] = col #añade el valor de referencia
    outliers = outliers.append(results)
    
outliers.tail(10)

,AboutMe,AccountId,Age,CommentCount,CreationDate,DisplayName,DownVotes,LastAccessDate,Location,Outlier,ProfileImageUrl,Reputation,Score,UpVotes,ViewCount,Views,WebsiteUrl,postId,userId
90227,NaN,NaN,NaN,11.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,1,0.0,0,18.0,1,NaN,113934.0,55020
90244,NaN,NaN,NaN,12.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,14,2.0,0,376.0,1,NaN,114004.0,55053
90251,NaN,NaN,NaN,8.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,1,0.0,0,29.0,0,NaN,114045.0,55086
90259,NaN,NaN,NaN,10.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,111,2.0,0,46.0,4,NaN,114081.0,55107
90268,NaN,NaN,NaN,11.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,6,1.0,0,45.0,0,NaN,114119.0,55125
90274,NaN,NaN,NaN,10.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,13,2.0,0,42.0,0,NaN,114129.0,55135
90326,NaN,NaN,NaN,8.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,6,1.0,0,32.0,3,NaN,114339.0,55241
90346,NaN,NaN,NaN,8.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,13,2.0,0,25.0,0,NaN,114859.0,55302
90408,NaN,NaN,NaN,9.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,11,2.0,0,63.0,1,NaN,114719.0,55420
90491,NaN,NaN,NaN,9.0,NaN,NaN,0,NaN,NaN,CommentCount,NaN,6,1.0,0,77.0,3,NaN,115020.0,55557

In [49]:
outliers.to_csv('outliers.csv')